body {
    font-family: 'Red Hat Display', sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}



@media only screen and (max-width: 767px){
    .meet-box {
        position: absolute;
        width: 119px;
        height: 28px;
        left: 128px;
        top: 48px;
    }


    .plentypl {
        position: absolute;
        width: 414px;
        height: 153px;
        left: -20px;
        display: flex;
    }
    .hero1 {
        position: absolute;
        width: 199px;
        height: 153px;
        left: -20px;
        top: 130px;
    }
    .hero2 {
        position: absolute;
        width: 199px;
        height: 153px;
        left: 195px;
        top: 130px;
    }

    .group2 {
        position: absolute;
        width: 457px;
        height: 400px;
        left: 155px;
        top: 515px;
    }

    .group-chat {
        position: absolute;
        width: 327px;
        height: 88px;
        left: 24px;
        top: 331px;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        text-align: center;
        line-height: 44px;
        color: #28283D;
    }

    .meet {
        position: absolute;
        width: 327px;
        height: 78px;
        left: 24px;
        top: 443px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        line-height: 26px;
        color: #87879D;
    }

    .group-button1 {
        position: absolute;
        width: 193px;
        height: 58px;
        left: 91px;
        top: 553px;
    }
    .button1 {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #4D96A9;
        border-radius: 29px;
        border-width: 0px;
    }
    .button1:hover{
        background: #71C0D4;
        cursor: pointer;
    }

    .download1 {
        position: absolute;
        height: 26px;
        left: 20.73%;
        right: auto;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        margin-top: 0px;
    }

    .version1 {
        height: 26px;
        left: 63.73%;
        right: 20.73%;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #8FE3F9;
    }

    .group-button2 {
        position: absolute;
        width: 139px;
        height: 58px;
        left: 118px;
        top: 627px;
    }
    .button2 {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #855FB1;
        border-radius: 29px;
        border-width: 0px;    
    }
    .button2:hover{
        background: #B18BDD;
        cursor: pointer;
    }

    .what {
        position: absolute;
        height: 26px;
        left: 20.86%;
        right: 20.86%;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px; 
        text-align: center;
        color: #FFFFFF;
    }

    button{
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;    
    }

    .group3 {
        position: absolute;
        width: 56px;
        height: 140px;
        left: 160px;
        top: 749px;
        display: inline-flex;
    }
    .line1 {
        position: absolute;
        height: 84px;
        left: 49.6%;
        right: 50.13%;
        top: 0%;
        bottom: 84.44%;
        mix-blend-mode: normal;
        opacity: 0.25;
        border: 1px solid #87879D;
    }
    .container {
        position: absolute;
        width: 56px;
        height: 56px;
        left: -27px;
        top: 42px;
        z-index: 1;
    }
    .boxid {
        position: absolute;
        width: 56px;
        height: 56px;
        left: calc(50% - 56px/2);
        top: calc(50% - 56px/2 + 42px);
    }
    .smallbox {
        position: absolute;
        box-sizing: border-box;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #FAFAFA;
        border: 1px solid rgba(135, 135, 157, 0.25);
        border-radius: 29px;
    }
    .number {
        position: absolute;
        height: 26px;
        left: 33.93%;
        right: 33.93%;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        color: #87879D;
    }

    .four-images {
        position: absolute;
        width: 327px;
        height: 310px;
        left: 24px;
        top: 953px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .image1 {
        width: 151px;
        height: 143px;
        left: 24px;
        top: 953px;
        margin-bottom: 7.5px;
        margin-right: 7.5px;
        background: #D8D8D8;
        border-radius: 8px;
    }
    .image2 {
        width: 151px;
        height: 143px;
        left: 200px;
        top: 953px;
        margin-bottom: 7.5px;
        margin-left: 7.5px;
        background: #D8D8D8;
        border-radius: 8px;
    }
    .image3 {
        width: 151px;
        height: 143px;
        left: 24px;
        top: 1120px;
        margin-top: 7.5px;
        margin-right: 7.5px;
        background: #D8D8D8;
        border-radius: 8px;
    }
    .image4 {
        width: 151px;
        height: 143px;
        left: 200px;
        top: 1120px;
        margin-top: 7.5px;
        margin-left: 7.5px;
        background: #D8D8D8;
        border-radius: 8px;
    }

    .group4 {
        position: absolute;
        width: 327px;
        height: 284px;
        left: 24px;
        top: 1327px;
    }
    .built {
        position: absolute;
        height: 26px;
        left: auto;
        right: 9.17%;
        top: calc(50% - 26px/2 - 129px);
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #4D96A9;
    }
    .smarter {   
        position: absolute;
        left: 0%;
        right: 0%;
        top: 17.61%;
        bottom: 57.04%;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        color: #28283D;
    }
    .send {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 54.23%;
        bottom: 0%;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #87879D;
    }

    .group5 {
        position: absolute;
        width: 375px;
        height: 540px;
        left: 0px;
        top: 1675px;
        display: inline-flex;
        flex-direction: column;
    }

    .line2 {
        position: absolute;
        height: 84px;
        left: 49.6%;
        right: 50.13%;
        top: 0%;
        bottom: 84.44%;
        mix-blend-mode: normal;
        opacity: 0.25;
        border: 1px solid #87879D;
    }
    .container2 {
        position: absolute;
        width: 56px;
        height: 56px;
        left: 159px;
        top: 42px;
        z-index: 1;
    }

    .footer {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 20.74%;
        bottom: 0%;
        height: 428px;
        background: #4D96A9;
        overflow: hidden;
    }
    
    .group-button3 {
        position: absolute;
        width: 193px;
        height: 58px;
        left: 24%;
        top: 75.93%;
        right: 24.53%;
        bottom: 13.33%;
    }
    .button3 {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #855FB1;
        border-radius: 29px;
        display: flex;
        border-width: 0px;
    }
    .button3:hover{
        background: #B18BDD;
        cursor: pointer;
    }

    .download2 {
        position: absolute;
        height: 26px;
        left: 20.73%;
        right: 38.34%;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .version2 {
        position: absolute;
        height: 26px;
        left: 101.73%;
        right: 20.73%;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #D9B8FF;
    }

    .experience {
        position: absolute;
        left: 6.4%;
        right: 6.4%;
        top: 12.78%;
        bottom: 48.89%;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        color: #FAFAFA;
    }
    .stay {
        position: absolute;
        left: 6.4%;
        right: 6.4%;
        top: 175px;
        bottom: 30%;
        width: 327px;;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #FAFAFA;
        position: relative;
    }
    
    .womanpic {
        position: absolute;
        max-width: 1400px;
        height: 428px;
        left: -520px;
        top: 0px;
        mix-blend-mode: normal;
        opacity: 0.1;
    }
    

}







@media only screen and (min-width: 768px) and  (max-width: 1440px){
    .meet-box {
        position: absolute;
        width: 119px;
        height: 28px;
        left: 324px;
        top: 48px;
    }


    .plentypl {
        position: absolute;
        width: 820px;
        height: 303px;
        left: -26px;
        top: 140px;
        display: flex;
    }
    .hero1 {
        position: absolute;
        width: 394px;
        height: 303px;
        left: -26px;
        top: 140px;
    }
    .hero2 {
        position: absolute;
        width: 394px;
        height: 303px;
        left: 400px;
        top: 140px;
    }

    .group2 {
        position: absolute;
        width: 457px;
        height: 262px;
        left: 155px;
        top: 515px;
    }

    .group-chat {
        position: absolute;
        width: 339px;
        height: 96px;
        left: 214px;
        top: 515px;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: #28283D;
    }

    .meet {
        position: absolute;
        width: 457px;
        height: 52px;
        left: 155px;
        top: 635px;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #87879D;;
    }
    .buttons {
        position: absolute;
        width: 348px;
        height: 58px;
        left: 0px;
        top: 0px;
    }
    .group-button1 {
        position: absolute;
        width: 193px;
        height: 58px;
        left: 210px;
        top: 719px;
    }
    .button1 {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #4D96A9;
        border-radius: 29px;
        border-width: 0px;
    }
    .button1:hover{
        background: #71C0D4;
        cursor: pointer;
    }

    .download1 {
        position: absolute;
        height: 26px;
        left: 20.73%;
        right: auto;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        margin-top: 0px;
    }

    .version1 {
        height: 26px;
        left: 63.73%;
        right: 20.73%;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #8FE3F9;
    }

    .group-button2 {
        position: absolute;
        width: 139px;
        height: 58px;
        left: 419px;
        top: 719px;
    }
    .button2 {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #855FB1;
        border-radius: 29px;
        border-width: 0px;       
    }
    .button2:hover{
        background: #B18BDD;
        cursor: pointer;
    }

    .what {
        position: absolute;
        height: 26px;
        left: 20.86%;
        right: 20.86%;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px; 
        text-align: center;
        color: #FFFFFF;
    }

    button{
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;    
    }

    .group3 {
        position: absolute;
        width: 56px;
        height: 140px;
        left: 356px;
        top: 857px;
        display: inline-flex;
    }
    .line1 {
        position: absolute;
        height: 84px;
        left: 49.6%;
        right: 50.13%;
        top: 0%;
        bottom: 84.44%;
        mix-blend-mode: normal;
        opacity: 0.25;
        border: 1px solid #87879D;
    }
    .container {
        position: absolute;
        width: 56px;
        height: 56px;
        left: -27px;
        top: 42px;
        z-index: 1;
    }
    .boxid {
        position: absolute;
        width: 56px;
        height: 56px;
        left: calc(50% - 56px/2);
        top: calc(50% - 56px/2 + 42px);
    }
    .smallbox {
        position: absolute;
        box-sizing: border-box;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #FAFAFA;
        border: 1px solid rgba(135, 135, 157, 0.25);
        border-radius: 29px;
    }
    .number {
        position: absolute;
        height: 26px;
        left: 33.93%;
        right: 33.93%;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        color: #87879D;
    }

    .four-images {
        position: absolute;
        width: 689px;
        height: 156px;
        left: 49px;
        top: 1064px;
    }
    .image1 {
        width: 164px;
        height: 156px;
        left: 49px;
        top: 1064px;
        background: #D8D8D8;
        border-radius: 8px;
    }
    .image2 {
        width: 164px;
        height: 156px;
        left: 224px;
        top: 1064px;
        background: #D8D8D8;
        border-radius: 8px;
    }
    .image3 {
        width: 164px;
        height: 156px;
        left: 399px;
        top: 1064px;
        background: #D8D8D8;
        border-radius: 8px;
    }
    .image4 {
        width: 164px;
        height: 156px;
        left: 574px;
        top: 1064px;
        margin-top: 7.5px;
        margin-left: 7.5px;
        background: #D8D8D8;
        border-radius: 8px;
    }

    .group4 {
        position: absolute;
        width: 573px;
        height: 240px;
        left: 97px;
        top: 1268px;
    }
    .built {
        position: absolute;
        height: 26px;
        left: auto;
        right: 26.7%;
        top: calc(50% - 26px/2 - 107px);
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #4D96A9;
    }
    .smarter {   
        position: absolute;
        left: 11.34%;
        right: 10.99%;
        top: 17.5%;
        bottom: 45.83%;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        color: #28283D;
    }
    .send {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 67.5%;
        bottom: 0%;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #87879D;
    }

    .group5 {
        position: absolute;
        width: 768px;
        height: 540px;
        left: 0px;
        top: 1588px;
        display: inline-flex;
        flex-direction: column;
    }

    .line2 {
        position: absolute;
        height: 84px;
        left: 49.6%;
        right: 50.13%;
        top: 0%;
        bottom: 84.44%;
        mix-blend-mode: normal;
        opacity: 0.25;
        border: 1px solid #87879D;
    }
    .container2 {
        position: absolute;
        width: 56px;
        height: 56px;
        left: 355px;
        top: 42px;
        z-index: 1;
    }

    .footer {
        position: absolute;
        width: 768px;
        height: 480px;
        left: 0px;
        top: 112px;
        overflow: hidden;
        background:  #4D96A9;
    }
    
    .group-button3 {
        position: absolute;
        width: 193px;
        height: 58px;
        left: 287px;
        top: 340px;
        right: 24.53%;
        bottom: 13.33%;
    }
    .button3 {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #855FB1;
        border-radius: 29px;
        display: flex;
        border-width: 0px;
    }
    .button3:hover{
        background: #B18BDD;
        cursor: pointer;
    }
    
    .download2 {
        position: absolute;
        height: 26px;
        left: 20.73%;
        right: 38.34%;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .version2 {
        position: absolute;
        height: 26px;
        left: 101.73%;
        right: 20.73%;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #D9B8FF;
    }

    .experience {
        position: absolute;
        width: 457px;
        height: 88px;
        left: 155px;
        top: 87px;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        color: #FAFAFA;
    }
    .stay {
        position: absolute;
        width: 573px;
        height: 52px;
        left: 97px;
        top: 230px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #FAFAFA;
    }
    
    .womanpic {
        position: absolute;
        max-width: 1470px;
        height: 473px;
        left: -349px;
        top: 0px;
        mix-blend-mode: normal;
        opacity: 0.1;
    }
    

}







@media only screen and (min-width: 1440px) {
    .meet-box {
        position: absolute;
        width: 119px;
        height: 28px;
        left: 661px;
        top: 80px;
    }

    .threetinz {
        display: flex;
    }

    .plentypl {
        position: absolute;
        width: 1504px;
        height: 358px;
        left: -32px;
        top: 169px;
    }
    .hero1 {
        position: absolute;
        width: 450px;
        height: 358px;
        left: -26px;
        top: 169px;
        order: 1;
    }
    .hero2 {
        position: absolute;
        width: 450px;
        height: 358px;
        left: 1078px;
        top: 169px;
        order: 3;
    }

    .group2 {
        position: absolute;
        width: 540px;
        height: 304px;
        left: 450px;
        top: 216px;
        order: 2;
    }

    .group-chat {
        position: absolute;
        width: 445px;
        height: 128px;
        left: 498px;
        top: 216px;
        font-style: normal;
        font-weight: 900;
        font-size: 64px;
        line-height: 64px;
        text-align: center;
        color: #28283D;
    }

    .meet {
        position: absolute;
        width: 540px;
        height: 52px;
        left: 450px;
        top: 378px;
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #87879D;;
    }
    .buttons {
        position: absolute;
        width: 348px;
        height: 58px;
        left: 0px;
        top: 0px;
    }
    .group-button1 {
        position: absolute;
        width: 193px;
        height: 58px;
        left: 546px;
        top: 462px;
    }
    .button1 {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #4D96A9;
        border-radius: 29px;
        border-width: 0px;
    }
    .button1:hover{
        background: #71C0D4;
        cursor: pointer;
    }
    .download1 {
        position: absolute;
        height: 26px;
        left: 20.73%;
        right: auto;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        margin-top: 0px;
    }

    .version1 {
        height: 26px;
        left: 63.73%;
        right: 20.73%;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #8FE3F9;
    }

    .group-button2 {
        position: absolute;
        width: 139px;
        height: 58px;
        left: 755px;
        top: 462px;
    }
    .button2 {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #855FB1;
        border-radius: 29px;
        border-width: 0px;
    }
    .button2:hover{
        background: #B18BDD;
        cursor: pointer;
    }

    .what {
        position: absolute;
        height: 26px;
        left: 20.86%;
        right: 20.86%;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px; 
        text-align: center;
        color: #FFFFFF;
    }

    button{
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;    
    }

    .group3 {
        position: absolute;
        width: 56px;
        height: 140px;
        left: 692px;
        top: 637px;
        display: inline-flex;
    }
    .line1 {
        position: absolute;
        height: 84px;
        left: 49.6%;
        right: 50.13%;
        top: 0%;
        bottom: 40%;
        mix-blend-mode: normal;
        opacity: 0.25;
        border: 1px solid #87879D;
    }
    .container {
        position: absolute;
        width: 56px;
        height: 56px;
        left: -27px;
        top: 42px;
        z-index: 1;
    }
    .boxid {
        position: absolute;
        width: 56px;
        height: 56px;
        left: calc(50% - 56px/2);
        top: calc(50% - 56px/2 + 42px);
    }
    .smallbox {
        position: absolute;
        box-sizing: border-box;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #FAFAFA;
        border: 1px solid rgba(135, 135, 157, 0.25);
        border-radius: 29px;
    }
    .number {
        position: absolute;
        height: 26px;
        left: 33.93%;
        right: 33.93%;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        color: #87879D;
    }

    .four-images {
        position: absolute;
        width: 1110px;
        height: 242px;
        left: 165px;
        top: 841px;
    }
    .image1 {
        width: 255px;
        height: 242px;
        left: 165px;
        top: 841px;
        background: #D8D8D8;
        border-radius: 8px;
    }
    .image2 {
        width: 255px;
        height: 242px;
        left: 450px;
        top: 841px;
        background: #D8D8D8;
        border-radius: 8px;
    }
    .image3 {
        width: 255px;
        height: 242px;
        left: 735px;
        top: 841px;
    }
    .image4 {
        width: 255px;
        height: 242px;
        left: 1020px;
        top: 841px;
        margin-top: 7.5px;
        margin-left: 7.5px;
        background: #D8D8D8;
        border-radius: 8px;
    }

    .group4 {
        position: absolute;
        width: 540px;
        height: 240px;
        left: 450px;
        top: 1163px;
    }
    .built {
        position: absolute;
        height: 26px;
        left: auto;
        right: 25.19%;
        top: calc(50% - 26px/2 - 107px);
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #4D96A9;
    }
    .smarter {   
        position: absolute;
        left: 8.89%;
        right: 8.7%;
        top: 17.5%;
        bottom: 45.83%;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        color: #28283D;
    }
    .send {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 67.5%;
        bottom: 0%;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #87879D;
    }

    .group5 {
        position: absolute;
        width: 1440px;
        height: 390px;
        left: 0px;
        top: 1587px;
        display: inline-flex;
        flex-direction: column;
    }
    .group3-copy {
        position: absolute;
        width: 56px;
        height: 140px;
        left: 692px;
        top: 0px;
        display: inline-flex;
    }

    .line2 {
        position: absolute;
        height: 84px;
        left: 49.6%;
        right: 50.13%;
        top: 0%;
        bottom: 84.44%;
        mix-blend-mode: normal;
        opacity: 0.25;
        border: 1px solid #87879D;
    }
    .container2 {
        position: absolute;
        width: 56px;
        height: 56px;
        left: 0px;
        top: 42px;
        z-index: 1;
    }

    .footer {
        position: absolute;
        width: 1440px;
        height: 308px;
        left: 0px;
        top: 114px;
        background: #4D96A9;
    }
    
    .group6 {
        position: absolute;
        width: 1110px;
        height: 88px;
        left: 0px;
        top: 0px;  
    }

    .group-button3 {
        position: absolute;
        width: 193px;
        height: 58px;
        left: 1082px;
        top: 130px;        
        right: 24.53%;
        bottom: 13.33%;
    }
    
    .button3 {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #855FB1;
        border-radius: 29px;
        display: flex;
        border-width: 0px;
    }
    .button3:hover{
        background: #B18BDD;
        cursor: pointer;
    }

    .download2 {
        position: absolute;
        height: 26px;
        left: 20.73%;
        right: 38.34%;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .version2 {
        position: absolute;
        height: 26px;
        left: 101.73%;
        right: 20.73%;
        top: calc(50% - 26px/2);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #D9B8FF;
    }

    .experience {
        position: absolute;
        width: 350px;
        height: 88px;
        left: 165px;
        top: 110px;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        color: #FAFAFA;
    }
    .stay {
        position: absolute;
        width: 350px;
        height: 78px;
        left: 640px;
        top: 115px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #FAFAFA;
    }
    
    .womanpic {
        position: absolute;
        max-width: 100%;
        height: 305px;
        left: calc(50% - 1440px/2 - 0.5px);
        top: 0px;
        mix-blend-mode: normal;
        opacity: 0.1;
    }
    
    

}


